html, body, input, form, ul, h1, h2, h3, h4, h5, h6, p, a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Didact Gothic', sans-serif;
  line-height: 1; }

.form__input {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  font-size: 21px;
  padding: 0 10px; }

@media (min-width: 320px) and (max-width: 767px) {
  .form__input {
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px; } }
@media (min-width: 768px) and (max-width: 1200px) {
  .form__input {
    height: 35px;
    width: 80%;
    font-size: 15px; } }
.form__button {
  border: none;
  font-size: 20px;
  margin-top: 10px;
  padding: 15px 40px;
  box-shadow: 1px #141414; }
  .form__button:hover {
    transition: 1s;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    cursor: pointer; }

.movie {
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
  text-shadow: 7px 2px 6.5px #141414;
  font-family: 'Montserrat', sans-serif; }

.descricao {
  width: 40%; }
  .descricao__titulo {
    font-weight: bold;
    line-height: 1;
    font-size: 50px; }
  .descricao__subtitulo {
    font-size: 25px;
    margin-top: 25px;
    color: #141414; }
  .descricao__observacao {
    font-size: 12px;
    margin-top: 10px; }

@media (min-width: 320px) and (max-width: 767px) {
  .descricao {
    width: 100%;
    margin-bottom: 10px; }
    .descricao__titulo {
      font-size: 25px;
      margin-top: 25px; }
    .descricao__subtitulo {
      font-size: 14px;
      margin-top: 25px; } }
@media (min-width: 768px) and (max-width: 1200px) {
  .descricao__titulo {
    font-size: 30px; }

  .descricao__subtitulo {
    font-size: 15px; } }
.filmes {
  width: 40%; }
  .filmes__form {
    text-align: center; }
  .filmes__input {
    background: #46b9b5;
    color: #fff; }
  .filmes:focus {
    border: 1px solid #3ba7a3; }
  .filmes__sortear {
    background: #75ded6;
    color: white; }
  .filmes__sorteado {
    text-align: center; }
  .filmes__titulo {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 40px; }
  .filmes__titulo-escolhido {
    margin-top: 25px;
    color: black;
    font-weight: bold; }
  .filmes__reset {
    font-size: 12px;
    margin-top: 19px;
    color: white; }

.filmes__imagem {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: flex-end; }

.filmes__imagem img {
  height: 40px;
  margin-right: 10px;
  animation: rolodefilme 3s infinite linear; }

.is-hidden {
  display: none; }

@keyframes rolodefilme {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@media (min-width: 320px) and (max-width: 768px) {
  .filmes {
    width: 100%; } }
@media (min-width: 320px) and (max-width: 1024px) {
  .filmes__sortear {
    margin-bottom: 25px; } }
@media (min-width: 320px) and (max-width: 767px) {
  .filmes__titulo {
    font-size: 25px;
    margin-top: 15px; } }
@media (min-width: 768px) and (max-width: 1200px) {
  .filmes__titulo {
    font-size: 30px; } }
.main {
  background-color: #48d1cc;
  color: #fff;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%; }

.logo-pipoca {
  animation: pipoca 1.5s;
  width: 195px; }

@keyframes pipoca {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@media (min-width: 320px) and (max-width: 767px) {
  .main {
    justify-content: space-around;
    flex-direction: column; }

  .logo-pipoca {
    width: 150px; } }
@media (min-width: 768px) and (max-width: 1200px) {
  .main {
    padding: 5%; }

  .logo-pipoca {
    width: 180px; } }

/*# sourceMappingURL=style.css.map */
