.descricao {
  width: 40%;
  &__titulo {
    font-weight: bold;
    line-height: 1;
    font-size: 50px;
  }
  &__subtitulo {
    font-size: 25px;
    margin-top: 25px;
    color: #141414;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .descricao {
    width: 100%;
    margin-bottom: 10px;
  &__titulo{
    font-size: 25px;
    margin-top: 25px;
  }
  &__subtitulo {
    font-size: 14px;
    margin-top: 25px;
    }
  }
}

@media (min-width: 768px) and (max-width:1200px) {
  .descricao__titulo {
    font-size: 30px;
  }
  .descricao__subtitulo {
    font-size: 15px;
  }
}
